.header {
    display: inline;
    position: fixed;
    z-index: 1;
}

.header_expand {
    background-color: rgba(32, 32, 32, 0.86);
    height: 100%;
    width: 70.506%;
}

.header__button {
    height: 27px;
    width: 36px;
    background-image: url(../../img/menu-hamburger.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    /* position: relative; */
    margin-top: 26px;
    margin-left: 27px;
}