.menu-list {
    list-style: none;
    padding-left: 27px;
    margin-top:  43.4px; 
}

.menu-list__item-link {
    text-decoration: none;
    color: var(--color-zero);
    font-weight: 300;
    font-size: 1em;
}

.menu-list__item {
    margin-bottom: 25px;
}