.photo-logo {
    height: 56.53vw;
    width: 56.53%;
    border-radius: 50%;
    border: solid 1px #707070;
    background-color: #ffffff;
    margin: 16.725vh 0 0 0;
    left: calc(50% - 28.265%);
    position: relative;
}

.photo-logo__photo {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    object-fit: cover;
    object-position: 50% 12%;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 5px;
}

