.photo-logo {
    height: 10.606em;
    width: 10.606em;
    border-radius: 50%;
    border: solid 1px #707070;
    background-color: #ffffff;
    margin: 16.725vh 0 0 0;
    left: calc(50% - 5.303em);
    position: relative;
}

.photo-logo__photo {
    height: calc(100% - 5.533%);
    width: calc(100% - 5.533%);
    object-fit: cover;
    object-position: 50% 12%;
    border-radius: 50%;
    position: relative;
    top: 2.766%;
    left: 2.766%;
}

